* {
    margin: 0;
    font-family: 'Piedra', 'Open Sans', sans-serif;
}

.pointer {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 0 23px 0;
    font-size: large;
}