* {
    margin: 0;
    font-family: 'Piedra', 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/desert.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* font-family: 'Piedra', 'Open Sans', sans-serif; */
}

.pointer {
    cursor: pointer;
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;

}

.button {
    background-color: transparent;
    width: 100px;
    /* border-radius: 18px; */
    border: none;
    height: 35px;
}

.start-img {
    width: 920px;
    height: 680px;
}

h1 {
    letter-spacing: 3px;
    font-size: 48px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

canvas {
    /* importend for responsive*/
    display: block;
}

.controls,
.start-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.speaker-icon {
    width: 30px;
    height: 30px;
}

.d-none {
    display: none;
}


/* Smartphone portrait */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphone landscape */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}