* {
    margin: 0;
    font-family: 'Piedra', 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/img/desert.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

#checkOrientation {
    /* to check the landscape orientation on mobile devices */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    color: indigo;
    font-size: 27px;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    max-width: 992px;
    width: 100%;
    max-height: 540px;
    height: 100vh;
    background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.startBtn {
    background-color: transparent;
    border: none;
    padding-top: 25px;
}

.startBtn img {
    width: 45px;
    height: 45px;
}

.game-over-img {
    height: 100%;
}

.start-img {
    width: 100%;
    height: 100%;
}

h1 {
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

canvas {
    /* importend for responsive*/
    display: block;
}

.controls-info-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 50px;
    font-size: large;
}

.speaker-icon {
    width: 35px;
    height: 35px;
}

.d-none {
    display: none !important;
}

.game-over-screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 3;
    max-width: 992px;
    width: 100%;
    max-height: 540px;
    height: 100vh;
    background-image: url('assets/img/desert.png');
    background-position: center;
    background-repeat: no-repeat;
}

.restart-button {
    background-color: transparent;
    border: none;
    font-size: larger;
    position: absolute;
    padding: 0 0 15px;
    color: darkorange;
}

.mobile-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.overlay-for-mute-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.mute-button-div img {
    padding: 25px 25px 0 0;
}

.panels-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.panel-top {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-top: 10px;
}

.panel-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 25px;
}

.action-buttons {
    display: flex;
    gap: 20px;
}

#btnLeft,
#btnRight,
#btnJump,
#btnThrow {
    background-color: transparent;
    border: none;
}

.arrow-icon {
    width: 45px;
    height: 45px;
}

.bottle-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: silver solid 2px;
}

.info-icon-bottle,
.info-icon-arrow {
    width: 25px;
    height: 25px;
}



@media only screen and (max-width: 1370px) {
    .controls-info-mobile {
        height: 34px;
        font-size: smaller;
        display: flex !important;
        align-items: center;
        gap: 40px;
    }

    .controls-info-display {
        display: none;
    }
}


/* Smartphone portrait */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphone landscape */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .startBtn {
        padding-top: 15px;
    }

    h1 {
        display: none;
    }

    span {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}